<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.cincommon.mapper.BlogTagMapper" >
  <resultMap id="BaseResultMap" type="xyz.cincommon.model.BlogTag" >
    <result column="blog_id" property="blogId" jdbcType="INTEGER" />
    <result column="tag_id" property="tagId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="xyz.cincommon.model.BlogTag" >
    insert into blog_tag (blog_id, tag_id)
    values (#{blogId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="xyz.cincommon.model.BlogTag" >
    insert into blog_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="blogId != null" >
        blog_id,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="blogId != null" >
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>