<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.cincommon.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="xyz.cincommon.model.Role">
		<id column="rid" property="rid" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		rid, name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from role
		where rid = #{rid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from role
		where rid = #{rid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="xyz.cincommon.model.Role">
		insert into role (rid, name)
		values (#{rid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="xyz.cincommon.model.Role">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rid != null">
				rid,
			</if>
			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="rid != null">
				#{rid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="xyz.cincommon.model.Role">
		update role
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where rid = #{rid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="xyz.cincommon.model.Role">
		update role
		set name = #{name,jdbcType=VARCHAR}
		where rid
		= #{rid,jdbcType=INTEGER}
	</update>
	<select id="selectRoleNameByUserId" parameterType="java.lang.Integer"
		resultType="java.lang.String">
		SELECT
		a.name
		FROM
		role AS a
		LEFT JOIN
		user_role AS b ON a.rid = b.rid
		LEFT JOIN user_info AS c ON b.uid =
		c.uid
		WHERE
		c.uid = #{id}
	</select>


</mapper>