<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.cincommon.mapper.UserMapper">
	<resultMap id="userMap" type="xyz.cincommon.model.User">
		<id property="uid" column="uid"/>
		<result property="username" column="user_name" />
		<result property="password" column="password" />
		<result property="profile" column="profile" />
		<result property="avatarUrl" column="avatar_url" />
		<result property="status" column="status" />		
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
		<result property="updateUser" column="update_user" />
		<collection property="roles" ofType="xyz.cincommon.model.Role" >
			<id property="rid" column="rid"/>
			<result property="name" column="rname" />
			<collection property="permissions" ofType="xyz.cincommon.model.Permission" >				
				<id property="pid" column="pid"/>
				<result property="name" column="pname" />
				<result property="url" column="url" />
			</collection>
		</collection>
	</resultMap>
	<select id="findByUsername" parameterType="string" resultMap="userMap">
		SELECT u.*, r.rid, r.name as rname, p.pid, p.name as pname, p.url
		FROM user_info u
			INNER JOIN user_role ur on ur.uid = u.uid
			INNER JOIN role r ON r.rid = ur.rid
			INNER JOIN permission_role pr ON pr.rid = r.rid
			INNER JOIN permission p ON pr.pid = p.pid
		WHERE u.user_name = #{username}
	</select>
</mapper>